$fz_standart: 16px;

$color_black: #141819;
$color_white: #fff;
$color_grey: #9f9f9f;
$color_text_shadow: #513922;
$color_border: #5f3721;
$color_background: #895336;
$color_white_two: #ededed;
$color_white_three: #f0f0f0;
$color_white_four: #ecebea;
